//main colors

$color__branding-almost-black: #03161e;
$color__branding-navy: #052332;
$color__branding-navy-transparent: rgba(3,22,30,0.875);
$color__branding-ocean-blue: #2a5769;
$color__branding-ocean-blue-hover: rgba(42, 87, 105,.95);
$color__branding-powder-blue: #c2d2d8;
$color__branding-powder-blue-hover: rgba(180, 211, 223, .875);
$color__branding-dark-grey: #494949;
$color__branding-mid-grey: #e1e1e1;
$color__branding-light-grey: #f5f5f5;
$color__branding-white: #fff;
$color__branding-construction: rgba(255, 109, 0, 1);
$color__branding-construction-hover: rgba(255, 109, 0, .85);