.home-text-area-section {
  padding: 75px 0 100px 0;
}

.home-text-area-content {
  max-width: 1200px;
  padding: 0 25px;
  margin: auto;

  h4 {
    margin: -15px 0 25px 0;
  }

  p {
    margin: -10px 0;
  }
}