.text-area-section {
  padding: 100px 0 150px 0;
}

.text-area-content {
  max-width: 1200px;
  padding: 0 25px;
  margin: auto;

  h4 {
    margin: -15px 0 25px 0;
  }

  p {
    margin: 0 0 35px 0;
  }
}